<%- include('../partials/head',   { title: 'New Device' }) %>
<%- include('../partials/header', { active: 'new' }) %>

<h1 class="page-title">New Device</h1>

<form class="form" method="post" action="/devices<%= adminQS || '' %>">
  <label>
    <span>Serial</span>
    <input class="input" name="serial" required />
  </label>

  <label>
    <span>Model</span>
    <input class="input" name="model" required />
  </label>

  <label>
    <span>Notes</span>
    <textarea class="input" name="notes"></textarea>
  </label>

  <button class="btn primary" type="submit">Create</button>
</form>

<%- include('../partials/footer') %>
<%- include('../partials/end') %>
